body {
    margin: 0 auto;
    max-width: 700px;
    margin-bottom: 4em;
}

h1 {
    border-bottom: 4px double #666;
}

h2 {
    border-bottom: 1px solid #999;
}

/*h3 {
    border-bottom: 1px solid #ccc;
}*/

code {
    padding: 2px;
    background-color: #e2e2e2;
}

pre {
    background-color: #e2e2e2;
    padding: 0.5em;
    border-left: 2px solid #ccc;
}
